.mountain{
    background: linear-gradient(180deg, rgba(226, 211, 206, 0) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%)
    , url(/assents/images/mountains.png);
    padding:237px 0 ;
    position: relative;
    top: -473px;
    background-size: 100%;
    background-position: top;
    z-index: 1;
    max-width: 1540px;
    margin: auto;
    background-repeat: no-repeat;
}
@include mobile(){
    .mountain{
        // background-image: url(/assents/images/mountains.png);
        background-size: cover;
        padding:130px 0;
        top: -230px;
    }
}